* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navone {
    background-color: rgb(205, 209, 248);
    height: 50px;
    width: 100%;
    display: flex;
}

.navone i {
    margin-top: 25px;
    margin-left: 35px;
}

.navone p {
    margin-top: 15px;
    margin-left: 10px;
}

.leftside {
    display: flex;
    right: 20px;
    position: absolute;
}

.leftside i {
    margin-right: -10px;
}

.secondnav {
    height: 40px;
    display: flex;
}

.secondnav i {
    margin-top: 20px;
    margin-left: 30px;
}

.secondnav h2 {
    margin-left: 15px;
    margin-top: 6px;
    color: #0063c6;
    font-size: 28px;
}

.secondnav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    right: 0;
    position: absolute;

}

.secondnav li,
a {
    margin: 10px;
    color: black;
}

.secondnav a {
    text-decoration: none;
    text-transform: uppercase;
}

.secondnav button {
    box-sizing: border-box;
    background-color: rgb(43, 43, 232);
    height: 40px;
    width: 150px;
    color: white;
    text-transform: capitalize;
    border: none;
    font-size: 18px;
}

#arrow {
    margin: 0;
    padding: 0;
}

.info {
    width: 50%;
    background-color: blue;
    height: 650px;
    float: left;

}

.info h4 {
    font-size: 40px;
    color: white;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 180px;
    margin-left: 50px;
}

.aboutsection {
    display: flex;
    margin-left: 30px;
}

.aboutone {
    margin: 50px 20px 0 20px;
    border-left: 1px solid white;
    padding: 20px;
    color: white;
}

.abouttwo {
    margin: 50px 20px 0 20px;
    border-left: 1px solid white;
    padding: 20px;
    color: white;
}

.aboutthree {
    margin: 50px 20px 0 20px;
    border-left: 1px solid white;
    padding: 20px;
    color: white;
}

.container {
    position: relative;
}


img {
    position: absolute;
    right: 0;
    width: 50%;
    height: 650px;
}

#texts {
    color: black;
    position: absolute;
    top: 50%;
    left: 70%;
    color: rgb(205, 209, 248);
    font-size: 60px;
    font-weight: lighter;
    opacity: 0.5;
}